a,
input,
button {
  /*清除点击阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  /*清除按钮的圆角*/
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  /*选中文字设置*/
  margin: 0;
  -webkit-user-select: none;
  background: #f2f2f3;
}
body * {
  /*文字设置*/
  -webkit-user-select: none;
  font-family: Helvetica;
}
body {
  /*禁止文字缩放*/
  -webkit-text-size-adjust: 100%;
}
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  width: 15rem;
  background: #222222;
  box-sizing: border-box;
  padding: 0 0.52rem;
}
.header .header_wrap {
  color: #fff;
  border-bottom: 2px solid #595959;
  height: 2.32rem;
}
.header .header_wrap .header_logo {
  margin-top: 0.54rem;
  width: 4.5rem;
  height: 1.26rem;
  float: left;
}
.header .header_wrap .header_logo img {
  display: block;
  width: 4.5rem;
  height: 1.26rem;
}
.header .header_wrap .header_right {
  float: right;
}
.header .header_wrap .header_right .downNow {
  float: left;
  box-sizing: border-box;
  height: 1rem;
  color: #a82a2e;
  padding: 0 0.56rem;
  border: 0.04rem solid #a82a2e;
  border-radius: 1rem;
  font-size: 0.4rem;
  line-height: 1rem;
  text-decoration: none;
  margin-top: 0.68rem;
  margin-right: 0.48rem;
}
.header .header_wrap .header_right .headerMore {
  float: left;
  margin-top: 0.3rem;
  width: 1.36rem;
  height: 1rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
}
.header .header_wrap .header_right .headerMore img {
  display: block;
  margin: 0 auto;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  background: #fff;
}
.header .nav {
  height: 1.4rem;
  background: #222222;
}
.header .nav ul {
  margin: 0;
  padding: 0;
}
.header .nav ul li {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 1.12rem;
}
.header .nav ul li a {
  text-decoration: none;
  font-size: 0.68rem;
  color: #fff;
  line-height: 1.4rem;
}
.header .nav ul li:nth-of-type(6) {
  margin-right: 0;
}
.banner {
  height: 8.24rem;
  width: 15rem;
  overflow: hidden;
  position: relative;
}
.banner ul {
  position: absolute;
  width: 500%;
  overflow: hidden;
}
.banner ul li {
  width: 15rem;
  float: left;
  height: 8.24rem;
}
.banner ul li a {
  display: block;
  position: relative;
}
.banner ul li a p {
  width: 100%;
  color: #fff;
  font-size: 0.66rem;
  position: absolute;
  box-sizing: border-box;
  bottom: 0.4rem;
  padding: 0 1.28rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  line-height: 0.68rem;
}
.banner ul li img {
  width: 15rem;
  height: 8.24rem;
}
.banner .xdd {
  position: absolute;
  text-align: center;
  bottom: 1.2rem;
  left: 6.78rem;
}
.banner .xdd li {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 0.12rem;
  background: #7f8990;
  float: left;
  margin-right: 0.2rem;
}
.banner .xdd .active {
  background: #ff2730;
}
.toutiao {
  height: 3.68rem;
  background: url("../img/ymw-todaytop2.png") #ffffff no-repeat;
  background-size: 1.76rem 2.8rem;
  background-position: 0.4rem 0.56rem;
  padding-left: 2.4rem;
  padding-top: 0.4rem;
  padding-right: 0.52rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.toutiao p {
  padding: 0;
  margin: 0;
}
.toutiao p a {
  display: block;
  font-size: 0.6rem;
  color: #121212;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text_list {
  background: #fff;
  padding: 0 0.54rem;
  box-sizing: border-box;
}
.text_list li {
  float: left;
  padding: 0.4rem 0;
  height: 2.84rem;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
.text_list li .list_left {
  width: 4.88rem;
  height: 2.84rem;
  margin-right: 0.5rem;
  float: left;
}
.text_list li .list_left img {
  width: 4.88rem;
  height: 2.84rem;
}
.text_list li .list_right {
  float: left;
}
.text_list li .list_right h4 {
  width: 8.4rem;
  font-size: 0.56rem;
  color: #080808;
  font-weight: normal;
  margin-bottom: 0.4rem;
}
.text_list li .list_right p {
  width: 8.4rem;
  font-size: 0.56rem;
}
.text_list li .list_right p span {
  float: left;
}
.text_list li .list_right p .list_text_right {
  float: right;
}
.text_list li .list_right p .list_text_right b {
  float: left;
  font-weight: normal;
  margin-right: 0.1rem;
}
.text_list li .list_right p .list_text_right i {
  float: left;
  width: 0.64rem;
  height: 0.56rem;
  margin-top: 0.12rem;
  background: url("../img/pinlun.png") no-repeat;
  background-size: cover;
}
.text_list .addMore a {
  display: block;
  text-align: center;
  line-height: 1.8rem;
  color: #d1282c;
  font-size: 0.64rem;
}
.spread {
  margin-top: 0.32rem;
  padding: 0.6rem;
  background: #fff;
}
.spread img {
  width: 100%;
}
.spread .spread_tit {
  margin-top: 0.6rem;
  font-size: 0.6rem;
}
.spread .spread_tit span {
  display: inline-block;
  padding: 0.04rem;
  border-radius: 0.08rem;
  margin-right: 0.32rem;
  border: 1px solid #e00001;
  color: #e00001;
}
.sec_head {
  margin-top: 0.32rem;
  font-size: 0.7rem;
  background: #fff;
  padding: 0 0.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #0d0d0d;
}
.sec_head h3:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.56rem;
  background: #e4030c;
  margin-right: 0.4rem;
}
.sec_head span {
  float: right;
  font-size: 0.5rem;
  font-weight: normal;
  color: #9a9a9a;
}
.hotgame {
  background: #fff;
  position: relative;
  overflow: hidden;
}
.hotgame ul {
  padding-right: 0.6rem;
  margin-left: 0.6rem;
  position: absolute;
  background: #fff;
  padding-bottom: 1rem;
}
.hotgame ul li {
  width: 3.9rem;
  float: left;
  margin-right: 0.32rem;
}
.hotgame ul li img {
  width: 3.9rem;
  height: 5.54rem;
}
.hotgame ul li p {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.64rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gameDown {
  background: #fff;
  overflow: hidden;
}
.gameDown .btn {
  width: 14rem;
  height: 1.44rem;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e7222b;
  border-radius: 0.12rem;
}
.gameDown .btn a {
  display: block;
  float: left;
  width: 7rem;
  height: 1.44rem;
  text-align: center;
  font-size: 0.72rem;
  color: #353535;
  line-height: 1.44rem;
}
.gameDown .btn .active {
  background: #e7222b;
  color: #fff;
}
.gameDown .list_wrap {
  width: 200%;
  margin-top: 0.52rem;
  position: relative;
}
.gameDown .list_wrap ul {
  float: left;
  width: 15rem;
}
.gameDown .list_wrap li {
  width: 100%;
  padding: 0.32rem 0.56rem;
  border-bottom: 0.04rem solid #f1f1f1;
}
.gameDown .list_wrap li .list_left {
  width: 2.84rem;
  height: 2.84rem;
  border-radius: 0.24rem;
  overflow: hidden;
  float: left;
}
.gameDown .list_wrap li .list_left img {
  width: 2.84rem;
  height: 2.84rem;
}
.gameDown .list_wrap li .list_tit {
  float: left;
  margin-left: 0.44rem;
}
.gameDown .list_wrap li .list_tit h3 {
  font-size: 0.68rem;
  margin-bottom: 0.32rem;
}
.gameDown .list_wrap li .list_tit p {
  font-size: 0.54rem;
  margin-bottom: 0.32rem;
}
.gameDown .list_wrap li .list_tit img {
  width: 2.78rem;
  height: 0.54rem;
}
.relaxation {
  background: #fff;
}
.relaxation ul {
  padding-left: 0.6rem;
}
.relaxation ul li {
  float: left;
  margin-right: 0.4rem;
  margin-top: 0.2rem;
}
.relaxation ul li img {
  width: 6.74rem;
  height: 3.92rem;
}
.relaxation ul li h5 {
  width: 6.74rem;
  font-size: 0.52rem;
  font-weight: normal;
}
.relaxation p {
  padding: 0 0.56rem;
}
.relaxation p a {
  border-radius: 0.16rem;
  display: block;
  line-height: 1.8rem;
  font-size: 0.76rem;
  color: #0c0c0c;
  text-align: center;
  background: #f2f2f3;
}
.foot {
  padding-top: 1.52rem;
  background: #fff;
}
.foot img {
  width: 15rem;
}
